main {
    width: 100%;
    height: 80vh;
    background:
        linear-gradient(rgba(83, 23, 23, 0.507), rgba(83, 23, 23, 0.207))
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
}

img {
    width: auto;
    height: 18vh;
}

.monster {
    height: 30vh;
}

aside {
    display: flex;
    height: 15vh;;
    justify-content: space-evenly;
}

section {
    display: flex;
    flex-direction: column;
}

.attack {
    animation: attack 0.5s ease;
}

.monsterAnimation {
    animation: monster 0.5s 1 ease;
}

@keyframes attack {
    from  {
        left: 50vh;
        transform: rotate(0deg);
        opacity: 0;
    } to {
        left: 100vh;
        transform: rotate(3600deg);
        opacity: 1;
    }
}

@keyframes monster {
    from {
        opacity: 1;
        left: 120vh;
    } to {
        opacity: 0;
        left: 80vh;
    }
}